.BotonesJuegos-Container {
  margin-top: 4.5%;
  text-align: center;
  padding: 20px;
  height: 100%; /* Altura completa de la vista */
  margin-bottom: 4.5%;
}
 
.BotonesJuegos-Titulo {
  color: aliceblue;
  font-size: 25px;
}

.BotonesJuegos-Botones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BotonesJuegos-Boton {
  margin: 10px 0;
  width: 30%;
}

.BotonesJuegos-Boton img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 5%;
}
