.GameModal-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .GameModal-Content {
    background: #fff1f1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .GameModal-Logo {
    width: 150px;
    height: auto;
  }
  
  .GameModal-Button {
    background: none;
    border: none;
    margin: 10px;
    cursor: pointer;
  }
  
  .GameModal-Button img {
    width: 50px;
    height: auto;
    margin-bottom: -1%;
  }
  
  .GameModal-Descargas{
    font-size: 1.5rem; /* Ajusta el tamaño del título según sea necesario */
  color: #000000; /* Blanco */
  padding: 0 20px; /* Añade padding a los lados para evitar que el texto toque el borde */
  margin-top: -0.5%;
  margin-bottom: -0.3%;
  }