.GameInfo-Container {
    background-color: #323232;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .GameInfo-Logo {
    width: 100px;
    height: auto;
  }
  .tituloinfo{
    margin-top: 0px;
    margin-bottom: 1%;
    color: aliceblue;
  }

  .ponerblanco{
    color: aliceblue;
  }
  
  .GameInfo-PlayButton {
    background-color: #4CAF50;
    width: 80%;
    height: 100%;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 0;
    cursor: pointer;
  }
  
.tituloinfodescuento{
  color: aliceblue;
}
.tituloinfodescuento2{
  margin-top: -2%;
  color: aliceblue;
}

  .GameInfo-PlayButton:hover {
    background-color: #45a049;
  }
  